body{
    
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    color:#25283D;
    font-size: large;
    
}

h1{
    background-color: #f0e4a5;
    text-align: center;
    padding:25px;
    border: 2px solid #25283D;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(154, 154, 202);
    padding: 0px;
    margin:0%;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(183, 183, 211);
}

.navbar li{
    float: left;
}


.btn-grad {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(217, 196, 238);
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  td {
    padding: 8px;
  }
  